<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Drive History:
      <div *ngIf="access.currentUser"> {{access.currentUser.email}} </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Recent Drive
    </ion-list-header>


    <ion-item *ngFor="let item of sessionService.driveList; index as position">
      <!--<ion-avatar slot="start">
        <img src="/assets/images/drive.jpg">
      </ion-avatar>  -->

    <ion-datetime value="{{item.start}}" displayFormat="MM/DD/YYYY hh:mm A"></ion-datetime> 
      
          <ion-chip color="primary" > 
            <ion-icon name="car-outline"></ion-icon>
             <ion-label color="primary">Time: {{item.drive.time | hms }} </ion-label>

            <ion-label color="primary">  , Miles: 
               {{(item.drive.distance/1609.34)|number: '1.1-2'}}
            </ion-label>
          </ion-chip>
      

    </ion-item>

  </ion-list>
</ion-content>
