<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div *ngIf="access.currentUser"> {{access.currentUser.email}} </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Account Summary  
        <ion-badge color="primary">{{sessionService.myRecord.counts}}</ion-badge>
      </ion-card-subtitle>
     </ion-card-header>
  
    <ion-card-content>
     
      <ion-chip color="tertiary" >
        <ion-icon name="sunny-outline"></ion-icon>
        <ion-label color="tertiary"> {{sessionService.myRecord.daytime | hms }}</ion-label>
      </ion-chip>
      <ion-chip color="dark" >
        <ion-icon name="sparkles-outline"></ion-icon>
        <ion-label color="dark">   {{sessionService.myRecord.nighttime | hms}}</ion-label>
      </ion-chip>
      <ion-chip color="primary" > 
        <ion-icon name="car-outline"></ion-icon>
        <ion-label color="primary"> Total Miles: 
           {{(sessionService.myRecord.distance/1609.34)|number: '1.1-1'}}
        </ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>



  <div *ngIf="sessionService.currentDrive">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Current Drive</ion-card-subtitle>
       </ion-card-header>
    
      <ion-card-content>
        <ion-chip color="tertiary" >
          <ion-icon name="sunny-outline"></ion-icon>
          <ion-label color="tertiary"> {{sessionService.currentDrive.drive.daytime | hms }}</ion-label>
        </ion-chip>
        <ion-chip color="dark" >
          <ion-icon name="sparkles-outline"></ion-icon>
          <ion-label color="dark">   {{sessionService.currentDrive.drive.nighttime | hms}}</ion-label>
        </ion-chip>
        <ion-chip color="primary" > 
          <ion-icon name="car-outline"></ion-icon>
          <ion-label color="primary"> Total Miles: 
             {{(sessionService.currentDrive.drive.distance)|number: '1.1-2'}}
          </ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>

  </div>


  <ion-card>
    <ion-item>
      <ion-button fill="outline" (click)="start()" [disabled]="started()">Start</ion-button>
      <ion-button fill="outline" (click)="resume()" [disabled]="!isPaused() || !started()">Resume</ion-button>
      <ion-button fill="outline" (click)="pause()" [disabled]="isPaused() || !started()">Pause</ion-button>
      <ion-button fill="outline" (click)="save()" [disabled]="!started()">Save</ion-button>
    </ion-item>
  </ion-card>
  <!--
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="30" *ngFor="let loc of sessionService.locations; index as position">
          <ion-label>{{loc.timestamp}} long:{{loc.longitude}} lat:{{loc.latitude}}
            speed:{{loc.speed}} head:{{loc.heading}} acu: {{loc.accuracy}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
-->

</ion-content>